[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
bokeh = "*"
pandas = "*"
pytest = "*"
bidict = "*"
matplotlib = "*"
seaborn = "*"
xmltodict = "*"
tqdm = "*"
tabulate = "*"

[requires]
python_version = "3.5"
